@import url(/css/normalize.css);

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }

/* permanent-marker-regular - latin */
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/permanent-marker-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/permanent-marker-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/permanent-marker-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/permanent-marker-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/permanent-marker-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/permanent-marker-v16-latin-regular.svg#PermanentMarker') format('svg'); /* Legacy iOS */
  }

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inter-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inter-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inter-v11-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.wrapper-header {
    max-width: 90%;
    margin: 0 auto;
}

.wrapper__intro {
    max-width: 90%;
    margin: 0 auto;
    height: 700px;
}




/* header styles start  */

.header {
    position: relative;
    left: 0;
    top: 0; 
    width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
    padding-top: 33px;
}

.header__list {
    display: flex;
    list-style-type: none;
}

.header__item {
    margin-right: 54px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.header__link:hover, .header__link:active, .header__link:visited {
    border-bottom: #FFB800 solid 3px;
}

/* header styles end  */





/* intro styles start */

.intro::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #020202;
    height: 3500px;
    z-index: -5;
}

.intro {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.intro__wrapper {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-grow: 1;
}

.intro__icon-profile {
    border-radius: 50%;
    margin-bottom: 30px;
    width: 250px;
}

.intro__name {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    color: #FFB800;
    margin-bottom: 15px;
    text-align: center;
}

.intro__subname {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color:#fff;
    text-align: center;
    margin-bottom: 180px;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-bottom: 90px;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.social-media__link {
    text-decoration: none;
}

.social-media__link_figma {
    margin-left: -4px;
    margin-bottom: -7px;
}

.social-media__icon {
    margin-bottom: 32px;
}

.social-media__icon:hover {
    opacity: 60%;
}

.scroll {
    display: flex;
    flex-direction: column;
    width: 30px;
}

.scroll__line {
    height: 70px;
    width: 0;
    margin-left: 12.5px;
    margin-bottom: 75px;
}

.scroll__title {
    display: flex;
    min-width: 120px;
    height: min-content;
    margin-left: -47px;
    transform: rotate(270deg);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2em;
    color: #fff;
}




/* intro styles end */






/* about user styles start */

.wrapper__about::before {
    content: '';
    position: absolute;
    height: 700px;
    width: 100%;
    left: 0;
    background-color: #252525;
    z-index: -4;
}

.wrapper__about {
    max-width: 90%;
    margin: 0 auto;
}

.about__name {
    display: flex;
    flex-grow: 1;
    padding-top: 100px;
    margin-bottom: 105px;
}

.about__wrapper {
    display: flex;
    align-items: center;
    padding-left: 78px;
}

.about__title {
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.about__subtitle {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    color: #FFB800;
    margin-bottom: 40px;
}

.about__line {
    background-color: #fff;
    border-radius: 2px solid white;
    width: 70px;
    height: 3px;
    margin-left: 20px;
    margin-top: 15px;
}

.about__name_wrapper {
    margin-top: 20px;
    margin-left: 76px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about__wrapper_title {
    display: flex;
    margin-bottom: 10px;
}

.about__subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.about__img {
    display: grid;
    grid-template-columns: 355px;
    grid-template-rows: 435px;

}

.about__background-photo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    
}

.about__photo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: right;
    align-self: flex-end;
}

.about__text {
    max-width: 570px;
}

.about__title_skills {
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.about__skills-list {
    list-style-type: none;
}

.about__li {
    background-image: url(/img/elipse.svg);
    background-position: 0px 5px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.about__wrapper_skills-list {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

/* about user styles end */





/* about works styles start */

.work {
    width: 100%;
    background-color: #020202;
    height: 700px;
}

.wrapper__work {
    width: 90%;
    margin: 0 auto;
}

.work__wrapper {
    display: flex;
    width: 100%;
    height: 700px;
    flex-direction: column;
    align-items: center;
}

.work_pictures_wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px;
    gap: 30px;
    margin-bottom: 50px;
}

.work__pictures_img {
    background-image: url(/img/rectangle.png);
    background-position: 0 0;
    background-size: 200px 150px;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    grid-column: span 1;
    grid-row: span 1;
}

.work__pictures_img-8 {
    background-image: url(/img/rectangle-2.png);
    background-position: 0 0;
    background-size: 200px 150px;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    grid-column: span 1;
    grid-row: span 1;
}

.header__nav_work {
    margin-bottom: 45px;
}

.about__wrapper_work {
    display: flex;
    margin-bottom: 10px;
    margin-top: 100px;
}

.about__title_work {
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.work__pictures_img-plus {
    display: flex;
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.work__next {
    background-image: url(/img/Next.svg);
    background-position: 0 0;
    background-size: 60px 10px;
    background-repeat: no-repeat;
    width: 60px;
    height: 10px;
    padding-bottom: 100px;
}

/* about works styles end */





/* blog styles start */

.blog {
    width: 100%;
    background-color: #252525;
    height: 700px;
}

.wrapper__blog {
    width: 90%;
    margin: 0 auto;
}

.blog__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    align-items: center;
}

.blog__flex-conatainer {
    display: flex;
    height: 378px;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 55px;
}

.blog__states {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    max-width: 27%;
    height: 378px;
    background-color: #020202;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
}

.blog__states-header {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #FFB800;
    margin-bottom: 30px;
}

.blog__states-main {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: 1;
}

.blog__link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFB800;
}


/* blog styles end */





/* contact styles start */

.contact {
    background-color: #020202;
    width: 100%;
    height: 700px;
}

.wrapper__contact {
    width: 90%;
    margin: 0 auto;
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__flex-container {
    display: flex;
    width: 75%;
    margin-top: 30px;
}

.contact__container-form {
    display: flex;
    width: 100%;
    justify-content: right;
}

.contact__title {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.contact__header {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    color: #FFB800;
    margin-bottom: 30px;
}

.contact__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.contact-media {
    display: flex;
}

.contact-media__link {
    text-decoration: none;
}

.contact-media__link_figma {
    margin: 0 -4px;
}

.contact-media__icon {
    margin-right: 10px;
}

.contact-media__icon:hover {
    opacity: 60%;
}

.contact__form {
    display: flex;
    flex-direction: column;
    height: 370px;
    width: 70%;
}

.contact__form-wrapper {
    flex-grow: 1;
    width: 70%;
    align-self: right;
}

.contact__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.contact__wrapper-form {
    display: flex;
    flex-direction: column;
}

.contact__input {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.contact__input_1 {
    height: 50px;
    width: 100%;
}

.contact__input_2 {
    height: 50px;
    width: 100%;
}

.contact__input_3 {
    height: 105px;
    width: 100%;
    margin-bottom: 35px;
}

.contact__button {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    color: #020202;
    background-color: #FFB800;
    border-radius: 10px;
    border: none;
    width: 45%;
    align-self: flex-end;
    padding: 6px;
}

/* contact styles end */







/* footer styles start */

.footer {
    width: 100%;
    height: 200px;
    background-color: #FFB800;
}

.wrapper__footer {
    width: 90%;
    margin: 0 auto;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__list {
    display: flex;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer__item {
    margin-right: 54px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #020202;
}

.footer__link:hover, .footer__link:active, .footer__link:visited {
    border-bottom: #FFB800 solid 3px;
}

.footer__name {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    color: #020202;
    margin-bottom: 45px;
}

.footer__copyright {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
}


/* footer styles end */