@media screen and (max-width: 800px) {
  .body {
    overflow: auto;
    overflow-x: hidden;
  }

  .header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-top: 25px;
  }
  .header__wrapper .header__nav {
    flex: 1;
  }
  .header__wrapper .header__nav .header__item {
    margin-right: 5%;
  }
  .header__wrapper .header__nav .header__item:last-child {
    margin-right: 0;
  }
  .header__wrapper .header__nav .header__link_underline {
    border-bottom: #FFB800 solid 3px;
  }
  .header__wrapper .header__nav .header__list {
    width: 100%;
  }

  .wrapper__intro {
    max-width: 90%;
    margin: 0 auto;
    height: 25%;
  }
  .wrapper__intro .intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 25%;
    margin: 0;
  }
  .wrapper__intro .intro .scroll {
    display: none;
  }
  .wrapper__intro .intro .social-media {
    display: flex;
    flex-direction: row;
  }
  .wrapper__intro .intro .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 40px;
    margin-top: 10%;
    order: 1;
    width: 100%;
  }
  .wrapper__intro .intro .intro__subname {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }
  .wrapper__intro .intro .social-media {
    display: flex;
    width: 100%;
  }
  .wrapper__intro .intro .social-media .social-media__link {
    text-decoration: none;
    margin-right: 0;
    flex: 1;
  }
  .wrapper__intro .intro .social-media .social-media__link:last-child {
    margin-right: 0;
    width: 10px;
  }
  .wrapper__intro .intro .social-media .social-media__link:first-child {
    padding-left: 38px;
  }
  .wrapper__intro .intro .social-media .social-media__link_figma {
    margin-right: -6px;
  }
  .wrapper__intro .intro .social-media .social-media__icon {
    margin-bottom: 0;
  }
  .wrapper__intro .intro .social-media .social-media__icon:hover {
    opacity: 60%;
  }

  .about__name {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 30px;
    margin-bottom: 0;
  }
  .about__name .wrapper__about::before {
    content: "";
    position: absolute;
    height: 500px;
    width: 100%;
    left: 0;
    background-color: #252525;
    z-index: -4;
  }
  .about__name .about__img {
    position: relative;
    left: 45%;
  }
  .about__name .about__img .about__background-photo {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .about__name .about__img .about__photo {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: right;
    align-self: flex-end;
  }
  .about__name .about__wrapper_title {
    margin-top: -30px;
  }
  .about__name .about__name_wrapper {
    margin-top: -180px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .about__name .about__title {
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
  }
  .about__name .about__subtitle {
    font-family: "Permanent Marker";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;
    color: #FFB800;
    margin-bottom: 30px;
    width: 50%;
  }
  .about__name .about__subtext {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  .about__name .about__subname {
    width: 50%;
    padding-right: 20px;
  }
  .about__name .about__li {
    background-image: url(/img/elipse.svg);
    background-position: 0px 5px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 25px;
  }
  .about__name .about__skills {
    margin-left: 43%;
  }
  .about__name .about__title_skills {
    margin-bottom: 0;
  }
  .about__name .about__wrapper_title_1 {
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .work {
    width: 100%;
    background-color: #020202;
    height: 500px;
  }
  .work .work__wrapper {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    align-items: center;
  }
  .work .work__list {
    display: flex;
    list-style-type: none;
  }
  .work .work__nav_work {
    margin-bottom: 45px;
    margin-left: 15%;
    width: 100%;
  }
  .work .work__item {
    display: block;
    margin-right: 6%;
    flex: 2;
  }
  .work .work__link_last {
    flex: 0;
  }
  .work .work__item:first-child {
    flex: 1;
  }
  .work .work__link_last {
    display: none;
  }
  .work .work__item:last-child {
    margin-right: 0;
  }
  .work .work__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
  .work .work_pictures_wrapper {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 100px 100px;
    gap: 10%;
    margin-bottom: 50px;
  }
  .work .work__pictures {
    margin-left: 0;
  }
  .work .work__pictures_img {
    background-image: url(/img/rectangle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    grid-column: span 1;
    grid-row: span 1;
  }
  .work .work__pictures_img-3, .work .work__pictures_img-4 {
    display: none;
  }
  .work .work__pictures_img-plus {
    display: flex;
    width: 150px;
    height: 100px;
    align-items: center;
    justify-content: center;
  }

  .blog {
    width: 100%;
    background-color: #252525;
    height: 500px;
  }
  .blog .wrapper__blog {
    width: 90%;
    margin: 0 auto;
  }
  .blog .blog__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-items: center;
  }
  .blog .blog__flex-conatainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10%;
  }
  .blog .blog__flex-conatainer .blog__states {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 70%;
    background-color: #020202;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .blog .blog__flex-conatainer .blog__states_2, .blog .blog__flex-conatainer .blog__states_3 {
    display: none;
  }
  .blog .blog__flex-conatainer .blog__states_1 {
    flex: 1;
  }

  .contact {
    background-color: #020202;
    width: 100%;
    height: 800px;
  }
  .contact .wrapper__contact {
    width: 90%;
    margin: 0 auto;
  }
  .contact .contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact .contact__flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }
  .contact .contact__title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .contact .contact__header {
    font-family: "Permanent Marker";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    color: #FFB800;
    margin-bottom: 30px;
    align-self: center;
  }
  .contact .contact__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  .contact .contact-media {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-bottom: 20px;
  }
  .contact .contact-media .contact-media__link {
    text-decoration: none;
    margin-left: 10px;
    flex: 1 1 auto;
  }
  .contact .contact-media .contact-media__link:last-child {
    text-decoration: none;
    flex: 0 1 auto;
  }
  .contact .contact-media .contact-media__link_figma {
    margin: 0 -4px;
  }
  .contact .contact-media .contact-media__icon {
    margin-right: 10px;
  }
  .contact .contact-media .contact-media__icon:hover {
    opacity: 60%;
  }
  .contact .contact__form {
    display: flex;
    flex-direction: column;
    height: 370px;
    width: 100%;
  }
  .contact .contact__form-wrapper {
    flex-grow: 1;
    width: 100%;
    align-self: right;
  }

  .footer {
    width: 100%;
    height: 200px;
    background-color: #FFB800;
  }
  .footer .wrapper__footer {
    width: 90%;
    margin: 0 auto;
  }
  .footer .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }
  .footer .footer__nav {
    width: 100%;
  }
  .footer .footer__list {
    display: flex;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
  }
  .footer .footer__item {
    margin-right: 54px;
  }
  .footer .footer__item:last-child {
    margin-right: 0;
  }
  .footer .footer__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #020202;
  }
}